#############################################################################
## mkdocs and its pre-reqs
mkdocs
mkdocs-material
mkdocs-git-authors-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-markdownextradata-plugin
mkdocs-minify-plugin
mkdocs-open-in-new-tab
mkdocs-rss-plugin
mkdocs-swagger-ui-tag
neoteroi-mkdocs
#############################################################################
## textualize.io apps
## markdown renderer
#frogmouth
## TUI ebook reader
#baca
## ranger file manager
#ranger-fm
#############################################################################
## asciinema etc
asciinema
asciinema-scene
#############################################################################
## console markdown presentation app
present
#############################################################################
## db tools
#litecli
#pgcli
#mycli
