# mkdocs and its pre-reqs
mkdocs
mkdocs-material
mkdocs-git-authors-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-markdownextradata-plugin
mkdocs-minify-plugin
mkdocs-open-in-new-tab
mkdocs-rss-plugin
mkdocs-swagger-ui-tag
neoteroi-mkdocs
## textualize.io apps
#frogmouth
#baca
## ranger file manager
#ranger-fm
# asciinema etc
asciinema
# asciinema-scene # needs python >=3.10, almalinux support <=3.9
